/* Estilos para el layout general */
body, #root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    background: linear-gradient(to bottom, #58cced, #91d18b);
    color: white;
    background-color: transparent;
  }
  
  .sidebar .ant-menu-item {
    color: white;
    background-color: transparent;
  
    font-weight: bold;
  }
  
  .sidebar .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  h2 {
    font-weight: bold;
  }
  
  .ant-select {
    width: auto !important;
  }
  
  .ant-table-thead > tr > th {
    font-weight: bold;
  }
  
  .ant-btn-link {
    display: flex;
    align-items: center;
    color: red;
    font-weight: bold;
  }
  