.horarios-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 250px; /* Ajusta el ancho fijo del aside */
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.columnas {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Permite el scroll si el contenido supera el espacio */
}

.header-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-box {
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.horarios-content {
  margin-top: 20px;
}

.calendars-section {
  margin-top: 20px;
}

.grupo-section {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}
