* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.encuesta-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background: linear-gradient(to bottom, #66ccff, #66ffcc);
  padding: 20px;
  color: #fff;
  position: fixed; /* Hace que el menú se quede fijo */
  top: 0; /* Ajusta para que se quede al inicio de la página */
  left: 0; /* Asegura que esté pegado al borde izquierdo */
  height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
}


.sidebar h2 {
  margin: 0;
  font-size: 1.2em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 200px; /* Ajusta para dejar espacio para el menú fijo */
}


h1 {
  text-align: center;
  color: #4caf50;
  font-size: 2em;
  margin-bottom: 20px;
}

.profesor-info {
  text-align: center;
  margin-bottom: 30px;
}

.profesor-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profesor-info h2 {
  margin: 10px 0 5px;
}

.profesor-info p {
  margin: 0;
  color: #666;
}

.preguntas {
  display: flex;
  gap: 300px; /* Aumenta la separación entre columnas a 100px */
  justify-content: center;
  height: 600px;
}


.columna {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.pregunta {
  background: #f5f5f5;
  padding: 10px;
  height: 120px;
  border: 1px solid #00FFFF; /* Color azul neón */
  border-radius: 10px;
  box-shadow: 0 0 8px #00FFFF; /* Sombra azul neón */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 370px;
  text-align: left;
}


label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

input[type="radio"] {
  margin-right: 7px;
}


.pregunta p {
  margin: 0 0 10px;
  font-size: 1.2em;
}

label {
  margin-right: 10px;
}

.submit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #ff8c66;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ff704d;
}
